@import url("https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700");

:root {
  --transition-time: 0.5s;
  --font-body: "Open Sans";
  --white-color: #fff;
}

* {
  box-sizing: border-box;
}
body {
  font-family: IBM Plex Sans, sans-serif;
  margin: 0;
  line-height: 1.5;
  background-color: var(--white-color);
  height: 100%;
}
.main-header {
  width: 100%;
  background: #006ba0;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
}
.main-header_container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header_brand {
  font-size: 20px;
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0 0 2px 6px;
  padding: 3px;
}

.main-header_logo {
  display: flex;
  align-items: center;
}
.main-header_logo_img {
  display: inline;
  height: 48px;
  vertical-align: middle;
}

.main-header_brand {
  text-decoration: none;
  color: var(--white-color);
  font-size: 20px;
  margin: 0 0 2px 6px;
}
.main-page_main_text {
  font-weight: 900;
  text-align: left;
  margin-top: 0;
  font-size: 48px;
  line-height: 56px;
}
.main-nav {
  vertical-align: middle;
}
.main-nav_items {
  margin: 0;
  padding: 0%;
  list-style: none;
}
.main-nav_item {
  display: inline-block;
  margin: 0 16px;
}
.main-nav_item_a {
  text-decoration: none;
  color: var(--white-color);
  opacity: 0.8;
  padding: 0 0.5rem;
}
.main-nav_item_a:hover {
  font-weight: bold;
}
.main-page_separator {
  height: 24px;
  background-color: #1d8fbc;
}
.main-page-above-the-separator {
  padding-top: 40px;
  background-color: #006ba0;
  align-items: center;
}

.main-page_left {
  max-width: 480px;
}

.main-page_right {
  max-width: 550px;
}

.main-page_content {
  display: flex;
  justify-content: space-around;
}

.main-ribbon {
  background-color: #004b75;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 0;
}
.container-ribbon_text {
  color: var(--white-color);
}
.container-ribbon_text b {
  color: #ff862f;
}
.container-ribbon_text a {
  margin-left: 9px;
}
h1,
div {
  color: var(--white-color);
}
.main-page_button_email {
  border: none;
  font-weight: 500;
  background-color: #ff862f;
  color: var(--white-color);
  width: 432px;
  height: 50px;
  font-size: 20px;
  padding: 0;
  margin: 0 0 0 -2px;
  border-radius: 0 6px 6px 0;
}
b {
  font-weight: bolder;
}
.main-page_email_field {
  border-radius: 8px 0 0 8px;
  height: 50px;
  width: 100%;
  border-color: #ff862f;
  border-style: double;
  padding-left: 12px;
  font-size: 16px;
}
.main-page_description {
  display: inline-block;
}

.main-page_image {
  border-style: none;
  max-width: 100%;
  padding-bottom: 30px;
  align-self: flex-end;
}
.main-page_image_banner {
  float: right;
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}
.main-page_email {
  float: left;
  display: flex;
  align-self: flex-start;
  flex: 1;
  margin-top: 10px;
}
.main-page_container {
  display: flex;
  flex-direction: column;
  align-content: center;

  flex-wrap: wrap;
}
.main-page_subtext {
  font-size: 24px;
  line-height: 32px;
  width: 35%;
}
.main-page_testimonial {
  border: 3px solid #69a6ee;
  border-radius: 8px;
  position: relative;
  margin-top: 40px;
  top: 70px;
  align-self: flex-start;
  max-width: 510px;
  padding: 12px 10px;
  font-style: italic;
  line-height: 30px;
  font-size: 18px;
  background-color: #1d8fbc;
  order: 2;
}

/* @media (min-width: 60rem) {
  .container-ribbon_text {
    font-size: 5rem;
  }
  .main-page_image_banner {
    width: 90%;
    max-width: 400px;
    margin: 32px 0 0;
  }
}
@media (min-width: 991px){
.main-page-above-the-separator {
    padding: 48px 15px 16px;
    text-align: center;
    display: block;
}
.main-page_email{
  text-align: center;
  display: block;
  border-radius: 8px;
  height: 42px;
}
.main-page_button_email{
  width: 100%;
  height: 42px;
  margin: 20px 0 8px;
  border-radius: 8px;
}
.main-page_description{
  margin-top: 0;
    min-height: auto;
}
.main-header {
  padding: 10px 15px;
}
}


@media (max-width: 991.98px){
.main-header  {
    padding-right: 0;
    padding-left: 0;
}
} */
@media (max-width: 991px) {
  .main-header_container {
    max-width: 960px;
  }

  .main-page_main_text {
    font-size: 32px;
    line-height: 40px;
    width: 100%;
  }
  .main-page-above-the-separator {
    padding: 48px 15px 16px;
    text-align: center;
    display: block;
  }
  .main-header {
    padding: 10px 15px;
  }
  .main-header_logo {
    margin: 0 auto;
  }
  .main-page_email {
    width: 100%;
    display: block;
  }

  .main-page_subtext {
    font-size: 24px;
    line-height: 32px;
    width: 35%;
  }

  .main-page_subtext {
    text-align: left;
    padding-bottom: 1%;
    font-size: 24px;
    line-height: 32px;

    display: flex;
    width: 100%;
  }
  .main-page_email {
    width: 100%;
    padding-right: 3%;
  }
  .main-page_description {
    flex-wrap: wrap;
  }
  .page-container {
    min-height: inherit;
    height: 100%;
  }

  .main-page_button_email {
    margin-top: 2%;
    padding: 0;
    width: 100%;
    height: 42px;
    margin: 20px 0 8px;
    border-radius: 8px;
  }
  .quote-mark {
    position: relative;
    right: 50%;
  }

  .main-page_content {
    flex-direction: column;
  }
}

/* Quote's css: */

.card {
  font-family: "Heebo";
  background: #7f7fd5;
  background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  height: 250px;
  width: 300px;
  font-size: 1.5em;
  color: var(--white-color);
  border-radius: 1em;
  padding: 1em;
  display: flex;
  align-items: var(--align-flex-end);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  border: 10px solid #ccc;
  text-decoration: none;
  flex-direction: column;
}

.quote-of-the-day {
  position: fixed;
  left: calc(50% - 150px);
  top: calc(50% - 125px);
}

.card:hover {
  transform: rotate(0);
}

.quote-heading {
  margin: var(--margin);
  color: rgba(87, 72, 226, 0.794);
  background-color: inherit;
  font-size: 28px;
  padding-bottom: 20px;
  line-height: 1.2em;
  align-self: start;
}

.quote-text {
  font-size: 15px;
  font-family: "Open Sans";
  line-height: 2em;
  align-self: var(--align-flex-end);
  color: rgba(30, 30, 31, 0.794);
}

.card:before,
.card:after {
  content: "";
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: var(--white-color);
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before,
.card:hover:after {
  transform: scale(1);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  color: rgba(185, 179, 235, 0.678);
}

/* MEDIA QUERIES */

@media (max-width: 450px) {
  .modal-container {
    left: 0;
    right: 0;
    width: 100% !important;
  }
}

@media (max-width: 991px) {
  .card {
    display: flex;
    z-index: 9999;
  }
  .quote-heading {
    width: 100%;
  }
  .quote-text {
    width: 100%;
  }
}

/* Modal: */
.modal-container {
  background-color: var(--white-color);
  width: 400px;
  border-radius: 3px;
  box-sizing: border-box;
  position: fixed;
  right: 100px;
  z-index: 9999;
}
.modal-container_body {
  display: flex;
  flex-direction: column;
}

.modal-first-section {
  border-radius: 3px;
  width: 100%;
  position: relative;
  transition: height 160ms ease-out 0s;
  background: linear-gradient(
    135deg,
    rgb(105, 166, 238) 0%,
    rgb(25, 113, 216) 100%
  );
  height: 123px;
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
}
.modal-first-section_heading {
  align-self: flex-start;
  font-size: 29px;
}
.modal-first-section_close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.modal-first-section_text {
  align-self: flex-start;
}
.modal-second-section {
  background-color: var(--white-color);
  margin: 10px 100px;
  width: 100%;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 15px 0px,
    rgb(0 0 0 / 10%) 0px 1px 2px 0px, rgb(51 77 110 / 50%) 0px 2px 0px 0px inset;
  line-height: 1.4;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.modal-second-section_img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: 10px 10px;
}

.modal-second-section_text,
.modal-second-section_heading,
.modal-third-section_text {
  color: black;
  align-self: flex-start;
  padding-left: 10px;
}
.modal-second-section_text {
  margin: 10px 0;
  color: rgb(117, 114, 114);
  align-self: center;
}
.modal-second-section_see-all {
  text-align: left;
  color: rgb(117, 114, 114);
  margin: 15px 15px;
  border-top: 1px solid rgb(216, 216, 216);
  cursor: pointer;
}

.modal-second-section_heading {
  margin-top: 15px;
}
.modal-second-section_img_text {
  display: flex;
  flex-direction: row;
}
.modal-second-section_btn {
  font-size: 16px;
  line-height: 40px;
  pointer-events: auto;
  cursor: pointer;
  border-radius: 40px;
  text-align: center;
  width: 80%;
  margin-left: 10px;
  background-color: rgb(51, 77, 110);
  color: var(--white-color);
  border: none;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica,
    Arial, sans-serif;
}

.modal-third-section {
  display: flex;
  flex-direction: column-reverse;
  height: 390px;
}
.modal-third-section_text {
  align-self: center;
  padding: 0;
  margin: 5px;
  color: gray;
  font-size: 13px;
  padding-bottom: 5px;
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 991px) {
  .modal-container_body {
    width: 60%;
    display: flex;
    justify-content: center;
  }
  .modal-first-section {
    width: 167%;
  }
}
